.page-header{
  height: 120px;
  width: 100%;
  position:fixed;
  left:0;
  top:0;
  z-index: 9999;
  transition: 0.5s all;
  background-color: $color1;
}

.page-header .container {
  height:100%;
  position:relative;
  display:flex;
  align-items: center;
}

.page-logo-cnt  {
  height: 100%;
}
.page-logo {
  padding-top: 20px;
  position: absolute;
  z-index:1;
}
.page-logo-img{
  width:150px;

}

.page-nav {
  width:100%;
  display:flex;
  justify-content: flex-end;

}
.page-nav-list {
  list-style-type: none;
  text-transform: uppercase;
  display:flex;
}

.page-nav-list li {
  padding: 0 15px 0 15px ;
  font-size: 1.3em;

}

.page-nav-list li a {
  text-decoration: none;
  color: rgba(255, 255, 255, .4);
  font-weight: bold;
  position:relative;
}

.page-nav-list a:before {
  content:'';
  position:absolute;
  background: #fff;
  height: 2px;
  bottom:0;
  left:50%;
  right:50%;
  transition: 0.5s all;

}

.page-nav-list a:hover {
  color: #fff;
}

.page-nav-list a:hover:before{
  left:0;
  right:0;
}

.main-hero {
  background: $color2;
  height:100vh;
  position: relative;
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items:center;
}

.main-hero-video {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

.main-hero-video video {
  object-fit: cover;
}

.main-hero-video:before{
  content:'';
  position:absolute;
  height:100%;
  width:100%;
  left:0;
  top:0;
  //background: linear-gradient($color1, $color2);
  opacity: 0.7;
}
.main-hero-scroll{
  width: 25px;
  height: 55px;
  border: 2px solid rgba(255, 255, 255, .3);
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate (-50%,0);
  border-radius: 15px;
}

.main-hero-scroll:before{
  content:'';
  width: 12px;
  height: 16px;
  background: #fff;
  display: block;
  margin: 6px auto;
  animation: mainHeroScrollAnim 0.7s 0s infinite alternate ease-in-out;
  border-radius: 10px;
}

@keyframes mainHeroScrollAnim {
  100% { margin-top:22px;}
}