.banner {
  position:relative;
  z-index:2;
  width:100%;
  height: 350px;
}


.banner-slides-cnt {
  position: relative;
  height: 100%;
  margin: 0 70px;
  background: rgba(255, 255, 255, 0.7)

}

.banner-slides-cnt .banner-slide{
  transition: all ease-in-out 500ms;
  -webkit-transition: all ease-in-out 500ms;
  -moz-transition: all ease-in-out 500ms;
  -o-transition: all ease-in-out 500ms;
}

.banner-slide {
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  opacity: 0;
  z-index: 0;
  transition: 0.5s all;
}

.banner-slide.active,
#banner-prev.active,
#banner-next.active{
  opacity:1;
  z-index:1;
}

.banner-slide-title {
  text-transform: uppercase;
  font-size: 3em;
  color: #124C96;
  margin: 10px 0 50px;
}

.banner-slide-text{
  padding: 0 15px 0 15px;
  font-size: 1.2em;
  margin: 0 0 50px;
  color: #124C96;
}

.banner-slide-btn-cnt{

}

.banner-slide-btn{
  font-size: 1.2em;
  font-weight:bold;
  text-decoration: none;
  text-transform: uppercase;
  color:#124C96;
  border: 1px solid #124C96;
  border-radius: 50px;
  padding: 25px;
  width: max-content;
  display:inline-block;
}

.banner-slide-btn:hover{
    font-size: 1.3em;
}

#banner-prev,
#banner-next {
  position:absolute;
  left:0;
  top:0;
  width: 85px;
  height:100%;
  border:0;
  border-radius:50%;
  background: none;
  cursor: pointer;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.5s;

}

#banner-next{
  right:0;
  left:auto;
}

#banner-prev:before,
#banner-next:before{
  content: '\f104';
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: #124C96;
  border:2px solid transparent;
  border-radius:50%;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.8);
}
#banner-next:before{
    content: '\f105';
}

.banner-pagination {
    position:absolute;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%,0);
    padding:0;
}

.banner-pagination li {
    display: inline-block;
    margin: 0 2px;
}

.banner-pagination button {
    position:relative;
    background:none;
    border:0;
    height:30px;
    width: 30px;
    overflow:hidden;
    text-indent: -9999px;
    opacity: 0.4;
    cursor: pointer;
}

.banner-pagination li.active button {
    opacity:1;
}

.banner-pagination button:before{
    content:'';
    position:absolute;
    left:0;
    top:50%;
    height:3px;
    width:100%;
    background: #fff;
    transform: translate(0, 50%);
}

