#section2{
    height:100vh;
    background-color: black;
}

.blocks-container{
    position:relative;
    width:100%;
}

.blocks{
    background-image: url("../../../images/3dblocks.png");
    background-repeat: repeat-x;
    width:100%;
    height:100px;
    background-size: contain;
    position: absolute;
    top:-15px;

}

.mario1-png{
    background-image: url("../../../images/mario1.png");
    height:350px;
    max-width:150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding:350px;
    position:relative;
    top:150px;


}